<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hawaii Anglers :: Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header">
    <a class="logo" th:href="@{/}">
        <img class="logo-img" src="/images/logo-img.png" alt="Hook Logo Image">
        <h1>Hawaii Anglers</h1>
    </a>
    <ul class="right-links">
        <li><a href="./tutorials">Tutorials</a></li>
        <li><a href="./shop">Shop</a></li>
        <li><a href="./whipping">Whipping</a></li>
        <li><a href="./dunking">Dunking</a></li>
        <li><a href="./posts">Posts</a></li>
        <li><a href="./sign-in">Sign In</a></li>
    </ul>
</div>

<div class="body">
    <form action="#"
          th:action="@{/sign-in}"
          method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" placeholder="Email"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Password"/>
        </div>
        <button type="submit" class="login-button">Login!</button>
    </form>
</div>

<div class="footer">
    <p>© 2023 HAWAII ANGLERS</p>
</div>

</body>

</html>