<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hawaii Anglers : Create Post</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/gidole-regular" type="text/css"/>
</head>
<body>
<div class="header">
    <a class="logo" th:href="@{/}">
        <img class="logo-img" src="/images/logo-img.png" alt="Hook Logo Image">
        <h1>Hawaii Anglers</h1>
    </a>
    <ul class="right-links">
        <li><a href="./tutorials">Tutorials</a></li>
        <li><a href="./shop">Shop</a></li>
        <li><a href="./whipping">Whipping</a></li>
        <li><a href="./dunking">Dunking</a></li>
        <li><a href="./posts">Posts</a></li>
        <li><a href="./logout">Logout</a></li>
    </ul>
</div>

<div class="body">
    <form action="#"
          th:action="@{'/posts/new'}"
          th:object="${post}"
          method="POST">
        <input type="hidden" th:field="*{user}"/>
        <input type="hidden" th:field="*{datePosted}"/>
        <h1>Write new post</h1>
        <div>
            <label for="new-post-title">Title</label>
            <input id="new-post-title" type="text" th:field="*{title}" placeholder="Title"/>
        </div>
        <div>
            <label for="new-post-description">Description</label>
            <input id="new-post-description" type="text" th:field="*{description}" placeholder="Description"/>
        </div>
        <div>
            <label for="new-post-body">Body</label>
            <input id="new-post-body" type="text" th:field="*{body}" placeholder="Body"/>
        </div>
        <button type="submit">Publish</button>
    </form>
</div>

<div class="footer">
    <p>© 2023 HAWAII ANGLERS</p>
</div>

</body>
</html>
